.navbar {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
}

.nav {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-logo {
    width: 50px;
    height: 50px;
}

.nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search {
    margin-left: 20px;
}

.search-box {
    width: 200px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
}

.search-btn {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.hero-section {
    width: 100%;
    height: calc(100vh - 120px);
    background-image: url('../img/header.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    text-align: center;
}

.logo {
    height: 150px;
    display: block;
    margin: auto;
}

.sub-heading {
    margin-top: 10px;
    text-align: center;
    color: #fff;
    text-transform: capitalize;
    font-size: 35px;
    font-weight: 300;
}

.collection-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.collection {
    width: 33.33%;
    margin:
}